@use '../../../../../colors';

.food-indicators-wrapper {
  display: flex;
  gap: 102px;
  font-size: 24px;
}

.food-indicators-wrapper-small {
  gap: 64px;
  font-size: 16px;
}

.food-indicators-wrapper-medium {
  gap: 80px;
  font-size: 20px;
}

.food-indicators-wrapper-big {
  gap: 102px;
  font-size: 24px;
}

.macronutrients-group {
  display: flex;
}

.extras-group {
  display: flex;
}

.group-small {
  gap: 32px;
}

.group-big {
  gap: 38px;
}

.indicator {
  display: flex;
  align-items: center;
}

.indicator-small {
  gap: 8px;
}

.indicator-big {
  gap: 10px;
}

.icon-small {
  font-size: 20px;
}

.icon-medium {
  font-size: 26px;
}

.icon-big {
  font-size: 32px;
}

.kcal-icon {
  color: colors.$orange-4;
}

.carbohydrates-icon {
  color: colors.$brown-7;
}

.proteins-icon {
  color: colors.$wine-1;
}

.lipids-icon {
  color: colors.$yellow-1;
}

.water-icon {
  color: colors.$blue-1;
}

.fibers-icon {
  color: colors.$brown-7;
}
