@use "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins';
}

body {
  background-color: colors.$white-2;
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.layout {
  padding: 0 10%;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
