<header class="inside-header light-shadow layout">
  <div class="left-wrapper">
    <img [ngSrc]="nutflyImageUri" width="142" height="38" class="logo" alt="Logo do Nutfly" priority>
    <nav class="header-navigator">
      <a class="navigation-item" href="">Dietas</a>
      <a class="navigation-item" href="">Pratos</a>
      <a class="navigation-item" href="">Alimentos</a>
    </nav>
  </div>
  <div class="right-wrapper">
    <span class="greetment-text">
      Olá,
      <span class="highlighted-text">Usuário</span>
    </span>
    <span class="user-background-circle">
      <fa-icon class="user-icon" [icon]='faUser' />
    </span>
  </div>
</header>
