@use '../../../../../colors';
@use '../../../../../configs';

.inside-header {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;

  background-color: colors.$white-3;
  border-radius: 0 0 10px 10px;
}

.left-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10vw;
}

.right-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  gap: 1vw;
}

.header-navigator {
  display: flex;
  gap: 5vw;

}

.navigation-item {
  color: colors.$brown-3;
  text-decoration: none;

  font-weight: bold;
  font-size: 20px;
}

.navigation-item:hover {
  color: colors.$orange-4;
}

.navigation-item:active {
  color: colors.$orange-3;
}

.greetment-text {
  font-size: 24px;
  font-weight: lighter;
}

.highlighted-text {
  color: colors.$orange-4;
}

.user-background-circle {
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: colors.$brown-1;
  border-radius: 99999px;
}

.user-icon {
  color: colors.$white-3;
  font-size: 24px;
}

.menu-button {
  display: none;
}


@media (max-width: configs.$big-screen) {

  .inside-header,
  .left-wrapper {
    gap: 5vw;
  }

  .logo {
    width: 130px;
    height: auto;
  }

  .navigation-item {
    font-size: 18px;
  }

  .header-navigator {
    gap: 4vw;
  }

  .greetment-text {
    font-size: 20px;
  }

  .user-background-circle {
    width: 48px;
    height: 48px;
  }

  .user-icon {
    font-size: 18px;
  }

}


@media (max-width: configs.$tablet-screen) {

  .header-navigator,
  .greetment-text,
  .user-background-circle {
    display: none;
  }

  .menu-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-icon {
    font-size: 24px;
    color: colors.$orange-3;
  }

}
